.container {
  position: relative;
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.inner_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0 40px 60px 40px;
}

.links {
  height: 32px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.ic {
  margin: 0 4px;
}

.mail {
  margin-bottom: 40px;
}

.mail_text {
  font-weight: bold;
}

.copy {
  font-size: 16px;
}
