.container {
  height: 80px;
  padding: 0 40px;
  display: flex;
  align-items: center;
}

.logo {
  width: 32px;
  height: 32px;
}

.menu {
  margin-left: 30px;
}

.menu_list {
  margin-right: 10px;
}

.menu_right {
  position: absolute;
  right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ic_btn button {
  cursor: pointer;
  margin-left: 20px;
}
