.container {
  height: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title,
.subtitle {
  width: 480px;
  text-align: center;
}

.title {
  margin-top: 160px;
  margin-bottom: 10px;
}

.run {
  margin-top: 25px;
}

.display_wrapper {
  position: relative;
  width: 100%;
  height: inherit;
}

.display_text {
  position: absolute;
  top: 40px;
  left: -12px;
  width: calc(100% - 40px);
  height: 240px;
  font-size: 240px;
  line-height: 1;
  font-weight: bold;
  letter-spacing: -8px;
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
  margin-left: 40px;
}

.display_quotes {
  position: absolute;
  top: -100px;
  width: 240px;
  margin-left: 40px;
}

.quote {
  margin-top: 8px;
}

.quote p {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}

.quote small {
  display: block;
  font-size: 12px;
  line-height: 16px;
}
