.container {
  padding: 0 40px;
}

.spacer {
  margin-top: 200px;
}

.ilustration {
  position: absolute;
  top: 700px;
  right: 160px;
  width: 240px;
  height: 240px;
}

.box_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 60px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 240px;
  text-align: center;
  text-decoration: none;
  background-color: var(--grey);
  border-radius: 10px;
}

.box:hover {
  background-color: var(--black);
}
