ul {
  display: flex;
  padding: 0;
}

li {
  list-style: none;
}

li a {
  height: 32px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
}

/* Typography */
h1 {
  font-size: 48px;
}
p {
  font-size: 20px;
}
small {
  font-size: 14px;
}
li a {
  color: var(--black);
}

/* Icon */
.ic-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ic-lg svg {
  height: 40px;
}

.ic-md svg {
  height: 32px;
}

.ic-sm svg {
  height: 24px;
}

.ic-wrapper svg:hover {
  fill: var(--grey);
}
